@using System.Text
@using Yolol.Execution
@using System.Globalization
@using System.Collections.ObjectModel
@using BlazorYololEmulator.Client.Core

@inject NavigationManager NavManager
@inject StateManager StateManager

<div class="code-editor-parent ">
    <ProgramCounterHighlight />
    <ErrorHighlight />
    <textarea class="code-input" spellcheck="false" @oninput="OnCodeChange" @onchange="OnCodeChange">
        @YololCode
    </textarea>
</div>

<div>@Error</div>

@code
{
    public string YololCode => StateManager.YololCode;
    public string Error => StateManager.ParseResult.IsOk ? "" : StateManager.ParseResult.Err.Message;

    public void OnCodeChange(ChangeEventArgs args)
    {
        if (args.Value is not string code)
            return;

        StateManager.YololCode = code;
    }
}
