@using System.Text
@using Yolol.Execution
@using System.Globalization
@using System.Collections.ObjectModel
@inject NavigationManager NavManager

<div>
    <textarea id="code-input" @oninput="@OnCodeChange" @onchange="@OnCodeChange">
        @State.State.Code
    </textarea>
    
    <div>@State.Error</div>
</div>

@code {

    [Parameter]
    public StateManager State { get; set; } = new();

    public void OnCodeChange(ChangeEventArgs args)
    {
        if (args.Value is not string code)
            return;

        // Update state
        State.State = new SerializedState
        {
            Code = code,
            ProgramCounter = State.State.ProgramCounter,
            Values = State.State.Values
        };
        
        // Put state into URI
        var base64 = State.State.ToBase64();
        var uri = NavManager.GetUriWithQueryParameter("state", string.IsNullOrEmpty(base64) ? null : base64);
        NavManager.NavigateTo(uri);
    }
}
