@using System.Text
@using Yolol.Execution
@using System.Globalization
@using System.Collections.ObjectModel
@using BlazorYololEmulator.Client.Core

@inject NavigationManager NavManager
@inject StateManager StateManager

<div class="btn-group">
    <a class="btn btn-primary shadow-none" @onclick="@OnClickStop"><span class="oi oi-media-stop"></span></a>
    <a class="btn btn-primary shadow-none" @onclick="@OnClickStep"><span class="oi oi-media-step-forward"></span></a>
</div>

@code
{
    void OnClickStep(MouseEventArgs args)
    {
        StateManager.Step();
    }

    void OnClickStop(MouseEventArgs args)
    {
        StateManager.Reset();
    }
}
