@using BlazorYololEmulator.Client.Core
@using BlazorYololEmulator.Shared
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject StateManager StateManager

<PageTitle>Yolol Blazor</PageTitle>

<div class="container-fluid">
    
    <Navbar />
    
    <div class="row">
        <div class="col-md-12 my-3"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col col-md-auto">
            <DebugControls></DebugControls>
        </div>
        <div class="col"></div>
    </div>
    
    <div class="row">
        <div class="col-md-12 my-3"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <CodeEditor/>
        </div>
        <div class="col">
            <StateDisplay/>
        </div>
    </div>
    

</div>

@code
{
    protected override void OnInitialized()
    {
        // Initialise state from URL
        var uri = new UriBuilder(NavManager.ToAbsoluteUri(NavManager.Uri));
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var state64 = query["state"];
        if (state64 != null)
            StateManager.Load(SerializedState.Deserialize(state64));
    }
}
