<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Yolol Emulator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://discord.gg/j9dFhYXD4P">Cylon</a>
            <a class="nav-item nav-link" href="https://yolol.info/">Yolol</a>
            <a class="nav-item nav-link" href="https://store.steampowered.com/app/454120/Starbase/">StarBase</a>
            <a class="nav-item nav-link" href="https://github.com/martindevans/YololBlazor">GitHub</a>
        </div>
    </div>
</nav>
