@using BlazorYololEmulator.Client.Core

@inject NavigationManager NavManager
@inject StateManager StateManager

<div class="show-program-counter" style="top:calc(2.5ex * @ProgramCounter + 0.5ex)"></div>

@code
{
    public int ProgramCounter => StateManager.ProgramCounter;

    protected override void OnInitialized()
    {
        StateManager.OnStateChange += StateHasChanged;
    }
}
