@using System.Text
@using Yolol.Execution
@using System.Globalization
@using System.Collections.ObjectModel
@using BlazorYololEmulator.Client.Core

@inject NavigationManager NavManager
@inject StateManager State

<table class="table table-dark table-striped table-hover table-borderless">
    <thead>
    <tr>
        <th scope="col">Identifier</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (key, value) in State.Values)
    {
        <tr @key="@key">
            <th>@key</th>
            <td>@Stringify(value)</td>
        </tr>
    }
    </tbody>
</table>


@code
{
    public string? RuntimeError => State.RuntimeError;
    public int ProgramCounter => State.ProgramCounter + 1;

    protected override void OnInitialized()
    {
        State.OnStateChange += StateHasChanged;
    }

    public string Stringify(Value value)
    {
        return value.Type == Yolol.Execution.Type.String
             ? $"\"{value}\""
             : value.ToString();
    }
}
